<div class="container">
  <div class="jumbotron">
    <life-cycle title="父组件传递进来的标题"></life-cycle>
     <test-ng-on-changes></test-ng-on-changes>
    <!-- <parent></parent>
    <father></father>  -->
  </div>
</div>
<br>
<br>
<br>
<br>


<div class="container">
  <brother></brother>
  <parent-and-child></parent-and-child>
  <local-storage></local-storage>
</div>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<div class="container">
  <test-interpolation class="my-css-class"></test-interpolation>
  <test-temp-ref-var></test-temp-ref-var>
  <test-value-bind></test-value-bind>
  <test-event-binding></test-event-binding>
  <test-twoway-binding></test-twoway-binding>
  <test-ng-model></test-ng-model>
  <!-- <test-pipe></test-pipe> -->
   <test-safe-nav></test-safe-nav>
</div>
<br>
<br>
<br>
<br>
<br>
